@import url('https://fonts.googleapis.com/css?family=Limelight|Simonetta&display=swap');

body {
	color: #0E2547;
	background-color: #F5EFD9;
	text-align: center;
	font-size: 16px;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	font-family: 'Simonetta', cursive;
	border: 1px black solid;
	padding: 20px
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px
}

article {
	background-color: #E89C6C;
    font-family: 'Simonetta', cursive;
	border: 1px black solid;
	padding: 20px
}

h1 {
	color:#0E2547;
	font-size: 65px;
	font-family: 'Limelight', cursive;
	margin-bottom: 2px;
}

#slogan {
	font-family: 'Simonetta', cursive;
	margin-top: 5px;
}

#bio {
	font-family: 'Simonetta', cursive;
	margin-top: 10px;
}

#list {
	font-family: 'Simonetta', cursive;
	margin-top: 5px;
}

#art {
	font-family: 'Simonetta', cursive;
	width: 30em;
}

img {
	width:50%;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
    text-align: center;
    list-style-position: inside;
}

footer {
	background-color:#FF957E;
	font-family: 'Simonetta', cursive;
	border: 1px black solid;
	padding: 20px;
}

div {
	background-color:#FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

