body {
	color: #0E2547;
	background-color: #F5EFD9;
	text-align: center;
}

h1 {
	color:#0E2547;
	font-size: 30px;
	font-family: Tahoma;
}

#slogan {
	font-style: italic;
	font-family: sans-serif;
	margin-top: 5px;
}
img {
	width:75%;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
    text-align: center;
    list-style-position: inside;
}

footer {
	background-color:#60BEC4;
	padding-top: 10px;
	padding-bottom: 10px;

}